<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify - Job Tracking App</title>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1>J</h1>
            <span>Jobify</span>
        </div>
    </div>
    <div class="home-container">
        <div class="text-content">
            <h1 class="main-heading">Job <span class="highlight">Tracking</span> App</h1>
            <p class="description">
                I'm baby wayfarers hoodie next level taiyaki brooklyn cliche blue bottle single-origin coffee chia. 
                Aesthetic post-ironic venmo, quinoa lo-fi tote bag adaptogen everyday carry meggings +1 brunch narwhal.
            </p>
            <div class="button-container">
                <button class="home-button" onclick="window.location.href='/auth/login?role=jobSeeker'">JobSeeker</button>
                <button class="home-button" onclick="window.location.href='/auth/login?role=company'">Company</button>
            </div>
        </div>
        <div class="image-container">
            <img src="https://media.istockphoto.com/id/909443992/vector/businessman-in-a-flat-style-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=sPPA5Aedq2HsAa_W8nsfFnXST7pncQZDcvuEJgXNB9Y=" alt="Illustration">
        </div>
    </div>
</body>
</html>
